Repository googleapis/python-tasks, pull requests merged in 2020-12, with the labels that each got.

#34 feat: add common resource helpers; expose client transport; add shebang to fixup scripts
  .kokoro/docs/common.cfg
  .kokoro/populate-secrets.sh
  .kokoro/release/common.cfg
  .kokoro/samples/python3.6/common.cfg
  .kokoro/samples/python3.7/common.cfg
  .kokoro/samples/python3.8/common.cfg
  .kokoro/test-samples.sh
  .kokoro/trampoline.sh
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.rst
  docs/conf.py
  docs/tasks_v2/types.rst
  docs/tasks_v2beta2/types.rst
  docs/tasks_v2beta3/types.rst
  google/cloud/tasks_v2/services/cloud_tasks/async_client.py
  google/cloud/tasks_v2/services/cloud_tasks/client.py
  google/cloud/tasks_v2/services/cloud_tasks/transports/base.py
  google/cloud/tasks_v2/services/cloud_tasks/transports/grpc.py
  google/cloud/tasks_v2/services/cloud_tasks/transports/grpc_asyncio.py
  google/cloud/tasks_v2beta2/services/cloud_tasks/async_client.py
  google/cloud/tasks_v2beta2/services/cloud_tasks/client.py
  google/cloud/tasks_v2beta2/services/cloud_tasks/transports/base.py
  google/cloud/tasks_v2beta2/services/cloud_tasks/transports/grpc.py
  google/cloud/tasks_v2beta2/services/cloud_tasks/transports/grpc_asyncio.py
  google/cloud/tasks_v2beta3/services/cloud_tasks/async_client.py
  google/cloud/tasks_v2beta3/services/cloud_tasks/client.py
  google/cloud/tasks_v2beta3/services/cloud_tasks/transports/base.py
  google/cloud/tasks_v2beta3/services/cloud_tasks/transports/grpc.py
  google/cloud/tasks_v2beta3/services/cloud_tasks/transports/grpc_asyncio.py
  google/cloud/tasks_v2beta3/types/queue.py
  noxfile.py
  samples/snippets/noxfile.py
  scripts/decrypt-secrets.sh
  scripts/fixup_tasks_v2_keywords.py
  scripts/fixup_tasks_v2beta2_keywords.py
  scripts/fixup_tasks_v2beta3_keywords.py
  synth.metadata
  synth.py
  tests/unit/gapic/tasks_v2/test_cloud_tasks.py
  tests/unit/gapic/tasks_v2beta2/test_cloud_tasks.py
  tests/unit/gapic/tasks_v2beta3/test_cloud_tasks.py
Labels: api: cloudtasks, cla: yes, context: full

#55 chore: start tracking obsolete files
  synth.metadata
Labels: api: cloudtasks, cla: yes, context: full

#58 fix: Update sample comments
  samples/snippets/create_http_task.py
  samples/snippets/create_http_task_with_token.py
Labels: api: cloudtasks, cla: yes, samples

#57 chore(deps): update precommit hook pre-commit/pre-commit-hooks to v3.4.0
  .pre-commit-config.yaml
  synth.metadata
Labels: api: cloudtasks, automerge, cla: yes, context: full

#56 fix: remove client recv msg limit fix: add enums to `types/__init__.py`
  google/cloud/tasks_v2/services/cloud_tasks/transports/__init__.py
  google/cloud/tasks_v2/services/cloud_tasks/transports/grpc.py
  google/cloud/tasks_v2/services/cloud_tasks/transports/grpc_asyncio.py
  google/cloud/tasks_v2/types/__init__.py
  google/cloud/tasks_v2beta2/services/cloud_tasks/transports/__init__.py
  google/cloud/tasks_v2beta2/services/cloud_tasks/transports/grpc.py
  google/cloud/tasks_v2beta2/services/cloud_tasks/transports/grpc_asyncio.py
  google/cloud/tasks_v2beta2/types/__init__.py
  google/cloud/tasks_v2beta3/services/cloud_tasks/transports/__init__.py
  google/cloud/tasks_v2beta3/services/cloud_tasks/transports/grpc.py
  google/cloud/tasks_v2beta3/services/cloud_tasks/transports/grpc_asyncio.py
  google/cloud/tasks_v2beta3/types/__init__.py
  synth.metadata
  tests/unit/gapic/tasks_v2/test_cloud_tasks.py
  tests/unit/gapic/tasks_v2beta2/test_cloud_tasks.py
  tests/unit/gapic/tasks_v2beta3/test_cloud_tasks.py
Labels: api: cloudtasks, automerge, cla: yes, context: full

#60 chore: exclude .nox from lint
  .flake8
  CONTRIBUTING.rst
  synth.metadata
Labels: api: cloudtasks, cla: yes, context: full
